[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"

[packages]
django = "*"
python-dotenv = "*"
django-heroku = "*"
heroku = "*"
gunicorn = "*"
python-decouple = "*"
pipfile = "*"

[requires]
python_version = "3.7"
