asn1crypto==0.24.0
certifi==2019.6.16
cffi==1.12.3
console==0.94
cryptography==2.7
dj-database-url==0.5.0
Django==2.2.18
django-cors-headers==3.1.0
django-heroku==0.3.1
django-rest-knox==4.1.0
djangorestframework==3.10.3
ezenv==0.86
gunicorn==19.9.0
psycopg2==2.8.3
pycparser==2.19
python-decouple==3.1
python-dotenv==0.10.3
pytz==2019.2
six==1.12.0
sqlparse==0.3.0
whitenoise==4.1.3
